@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

* {
   box-sizing: border-box;

   margin: 0;
   padding: 0;

   font-family: 'Lato', sans-serif;
}
html {
   background-color: #24252a;
   color: #f0f8ff;

}
main {
   min-height: 100vh;
}
   .header {
      padding: 1em;

      font-family: 'Lato', sans-serif;
      letter-spacing: 3px;
      text-align: center;
   }
      .header > h1 {
         font-family: 'Alkatra', sans-serif;
         font-size: 3em;
         letter-spacing: 5px;
      }
      .header > p {
         font-size: 1.25em;
      }
   form {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
      .separators {
         position: relative;

         width: 90vw;

         margin: 2em 1em;
      }
         h2 {
            background-color: #24252a;

            height: 2em;
            width: 7em;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            z-index: 10;
            
            padding: 0.25em;

            text-align: center;
         }
      .text {
         background-color: #24252a;
         
         border-radius: 5em;
         border: 1px solid #f0f8ff;

         height: 2.25em;
         width: 19em;

         color: #f0f8ff;
         font-family: 'Lato', sans-serif;
         font-size: 1rem;
         letter-spacing: 1px;

         margin: 0.55em 0em;
         padding: 0em 1em;
      }
         .lname {
            width: 8em;
         }
         .fname {
            width: 8em;
         }
         .minitial {
            width: 3em;
            padding: 0em 0.5em;

            text-align: center;
         }
         .address {
            width: 19em;
         }
         .birthdate {
            width: 13em;

            text-align: center;
         }
         .age {
            width: 6em;

            text-align: center;
         }
         .gender-area {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            width: 23em;

            margin: 0.5em 0em;

            font-family: 'Lato', sans-serif;
            font-size: 1rem;
            letter-spacing: 1px;
         }
         .grade-level {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            width: 100vw;

            margin: 0.5em 0em;

            font-family: 'Lato', sans-serif;
            font-size: 1rem;
            letter-spacing: 1px;
         }
            .dropbox {
               background-color: #24252a;
               border-radius: 1em;
               border: 1px solid #f0f8ff;

               transform: translateY(5%);

               height: 2.25em;
               width: 5em;

               color: #f0f8ff;
               text-align: center;
            }
         .lrn {
            width: 19em;
         }
      .creator > h2  {
         width: 9em;
      }
      .btn {
         border-radius: 20em;
         border: 5px solid #f0f8ff;

         height: 2em;
         width: 6em;

         margin: 1em 0em;

         font-family: 'Lato', sans-serif;
         font-size: 1.5rem;
         letter-spacing: 3px;
      }
   .email-verif, .pass-verif {
      border: 1px solid #f0f8ff;
      border-radius: 0.25em;

      z-index: -1;

      width: 75%;

      padding: 1em;

      font-family: 'Lato', sans-serif;
      font-size: 0.75rem;
   }
   .pass-verif {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      height: 25vh;

      padding: 0em 1em;
   }
   .pass-verif > span {
      text-align: center;
   }
   
   @keyframes shake {
      0% { transform: translate(1px, 1px) rotate(0deg); }
      10% { transform: translate(-1px, -2px) rotate(-1deg); }
      20% { transform: translate(-3px, 0px) rotate(1deg); }
      30% { transform: translate(3px, 2px) rotate(0deg); }
      40% { transform: translate(1px, -1px) rotate(1deg); }
      50% { transform: translate(-1px, 2px) rotate(-1deg); }
      60% { transform: translate(-3px, 1px) rotate(0deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(-1px, -1px) rotate(1deg); }
      90% { transform: translate(1px, 2px) rotate(0deg); }
      100% { transform: translate(1px, -2px) rotate(-1deg); }
   }
   
   