@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
   box-sizing: border-box;

   margin: 0;
   padding: 0;

   font-family: 'Lato', sans-serif;
}
html {
   background-color: #24252a;
   color: #f0f8ff;

}
main {
   min-height: 100vh;
}
   .header {
      margin: 1em 0em 1em;
   }
   form {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
      .separators {
         position: relative;

         width: 90vw;

         margin: 2em 1em;
      }
         h2 {
            background-color: #24252a;

            height: 2em;
            width: 7em;

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            
            z-index: 10;
            
            padding: 0.25em;

            text-align: center;
         }
      .text {
         background-color: #24252a;
         
         border-radius: 5em;
         border: 1px solid #f0f8ff;

         height: 2em;
         width: 20em;

         color: #f0f8ff;
         font-family: 'Lato', sans-serif;
         font-size: 1rem;
         letter-spacing: 1px;

         margin: 0.25em 0em;
         padding: 0em 1em;
      }
         .lname {
            width: 10em;
         }
         .fname {
            width: 10em;
         }
         .minitial {
            width: 3em;
            padding: 0em 0.5em;
         }