@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
   box-sizing: border-box;

   margin: 0;
   padding: 0;
}
html {
   background-color: #24252a;
   color: #f0f8ff;

   font-family: 'Lato', sans-serif;
}
main {
   min-height: 100vh;

   font-family: 'Lato', sans-serif;
   letter-spacing: 3px;
}
   .user {
      position: relative;

      height: 30vh;
      
      margin-bottom: 4em;
   }
      .bg {
         background-color: #353a52;

         height: 15vh;
      }
      .dp-image {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%); 

         clip-path: circle(40% at 50% 50%);
      }
      .user > h1 {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, 350%);
         
         width: 100vw;

         text-align: center;
      }
   .options {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      height: 20vh;
      width: 100vw;
   }
   .options > .option > img {
      height: 4em;
      width: 4em;

   }
      .option {
         display: flex;
         flex-direction: column;
         justify-content: space-evenly;
         align-items: center;

         background-color: #f0f8ff;
         border-radius: 1em;
         box-shadow: 2px 2px 0.5px 0.5px rgba(240, 248, 255, 0.5);

         height: 7em;
         width: 7em;

         color: #24252a;
      }